<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB - Filtered Places</title>
    <link rel="stylesheet" href="../static/styles/3-header.css">
    <link rel="stylesheet" href="../static/styles/4-common.css">
    <link rel="stylesheet" href="../static/styles/3-footer.css">
    <link rel="stylesheet" href="../static/styles/6-filters.css">
    <link rel="stylesheet" href="../static/styles/8-places.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/4-hbnb.js" defer></script>
</head>
<body>
    <header>
        <div class="logo"></div>
    </header>
    <div class="container">
        <section class="filters">
            <div class="locations">
                <h3>States</h3>
                <h4>&nbsp;</h4>
                <ul class="popover">
                    <!-- Dynamic state/city filters will be loaded here -->
                </ul>
            </div>
            <div class="amenities">
                <h3>Amenities</h3>
                <h4>&nbsp;</h4>
                <ul class="popover">
                    <!-- Dynamic amenity filters will be loaded here -->
                </ul>
            </div>
            <button>Search</button>
        </section>
        <section class="places">
            <h1>Places</h1>
            <!-- Places will be dynamically added here by JS -->
        </section>
    </div>
    <footer>
        <p>Holberton School</p>
    </footer>
</body>
</html>
